
:root {
    --primary: #106F45;
    --light: #F3F4F5;
    --dark: #282F34;
}

/* 106F45 */


.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bold{
    font-weight: 700 !important;
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
    border-radius: 2rem;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/* ............................mods ......................*/
/* .collapse a.btn-primary,
.header-bg a.btn-primary{
    border-radius: 20px;
} */
.btn.btn-primary:hover,
.btn.btn-primary:hover{
    color: #106F45;
    background: white;
    border: 1.9px solid #106F45;
    scale: 1.04;
}
.cursor-grab {
    cursor: grab;
}
.preview-2 .nivo-directionNav a.nivo-nextNav::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #106F45;
    border-radius: 50%;
    color: #106F45;
    content: "";
    cursor: pointer;
    font: 100 30px/50px FontAwesome;
    height: 50px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 50%;
    transition: all 300ms ease-in 0s;
    width: 50px;
    z-index: 9;
    font-size: 30px;
}

.preview-2 .nivo-directionNav a.nivo-prevNav::before {
    background: none 0px 0px repeat scroll rgba(0, 0, 0, 0);
    color: #106F45;
    content: "";
    cursor: pointer;
    font: 100 30px / 50px FontAwesome;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 300ms ease-in 0s;
    z-index: 9;
    left: 0px;
    width: 50px;
    border: 2px solid #106F45;
    border-radius: 50%;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar .navbar-brand img {
    max-height: 50px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
 .header-bg {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/NI/about-page-bg.jpeg) center center no-repeat;
    background-size: cover;
}
#service-bg{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/services-bg.jpg) center center no-repeat;
    /* background-size: cover; */
}
/* about-bg */
#story{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/NI/about-page-bg.jpeg) center center no-repeat;
    background-size: cover;
}

#tech-bg{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/tech-bg.avif) center center no-repeat;
    background-size: cover;
}


.section-header {
    text-align: center;
    /* padding-bottom: 70px; */
  }
  
  .section-header h2 {
    /* font-size: 32px;
    font-weight: 700; */
    position: relative;
    color: #2e3135;
  }
  
  .section-header h2:before,
  .section-header h2:after {
    content: "";
    width: 30px;
    height: 3px;
    background: var(--primary);
    display: inline-block;
  }
  
  .section-header h2:before {
    margin: 0 15px 10px 0;
  }
  
  .section-header h2:after {
    margin: 0 0 10px 15px;
  }


  .section-header h1 {
    /* font-size: 32px; */
    /* font-weight: 700; */
    position: relative;
    color: #2e3135;
  }
  
  .section-header h1:before,
  .section-header h1:after {
    content: "";
    width: 30px;
    height: 3px;
    background: var(--primary);
    display: inline-block;
  }
  
  .section-header h1:before {
    margin: 0 15px 10px 0;
  }
  
  .section-header h1:after {
    margin: 0 0 10px 15px;
  }
  
  .section-header p {
    margin: 0 auto 0 auto;
  }
  
  @media (min-width: 1199px) {
    .section-header p {
      max-width: 60%;
    }
  }

#contact-bg{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/contact_us.png) center center no-repeat;
    background-size: cover;
}
#evolution-bg{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/evolution-bg.jpg) center center no-repeat;
    background-size: cover;
}
#projects-bg{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/projects_bg.jpg) center center no-repeat;
    background-size: cover;
}
#events-bg{
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/events-bg.jpg) center center no-repeat;
    background-size: cover;
}



/*
@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}


.header-carousel .owl-nav {
    position: absolute;
    width: 200px;
    height: 40px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
    opacity: 1;
    z-index: 10000;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #FFFFFF;
    transition: .5s;
}

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: #FFFFFF;
    border-radius: 5px;
}

.header-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}
 */


/* 


  

/*** Img Border ***/
.img-border {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.img-border::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 3rem;
    bottom: 3rem;
    border: 5px solid var(--primary);
}

.img-border img {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    object-fit: cover;
}


/*** Facts & Projects ***/
.facts {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/NI/hero.jpg) center center no-repeat;
    background-size: cover;
}

.project {
    /* background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/bg-2.jpg) center center no-repeat; */
    background-size: cover;
}

.project .list-group-item {
    display: flex;
    justify-content: space-between;
    color: var(--light);
    background: rgba(0, 0, 0, .15);
    border-color: rgba(255, 255, 255, .15);
}

.project .table {
    color: var(--light);
    background: rgba(0, 0, 0, .15);
}

.project .table td {
    padding: 1rem 2px;
    border-color: rgba(255, 255, 255, .15);
}
/* .project .table td:last-child{
    padding-right: 7px;
    font-size: 13px;
} */
.project .table tbody{
    font-size: 15px;
}

.td-bold{
    font-size: 22px;
    font-weight: 600;
    /* width: 40%; */
}

.table-bordered>:not(caption)>*>* {
    border-width: 0 4px;
    
}

.m-width{
    width: 29%;
}


/*** Special Services ***/
.membership-item {
    padding: 30px 25px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, .7);
}

.membership-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.membership-item .display-6 {
    color: transparent;
    -webkit-text-stroke: 3px var(--primary);
}


/* ..........................................
            Events Styling 
............................................*/

.events .card-item {
    border-right: 1px solid rgba(82, 86, 94, 0.2);
    background: #fff;
    position: relative;
    border-radius: 0;
}

.events .card-item .card-bg {
min-height: 200px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
border-radius: 20px;
margin-top: 14px;
}

.event-img:hover{
    transform: scale(1.03) !important;
    transition: .5s;
}

.overflow-hidden{
    overflow: hidden  !important;
}

.event-img:hover img{
    overflow: hidden;
}

.events .card-item .card-body {
padding: 15px;
display: flex;
flex-direction: column;
}
  
.events .card-item p {
    color: var(--color-primary);
    margin: 0;
}

.read-more-container{
    border-bottom: 2px solid rgb(187, 181, 181);
}

.read-more-text{
    display: none;
}
.read-more-text--show{
    display: inline;
}

.read-more-btn{
    color: #079e5a;
    font-weight: 400;
    cursor:pointer;
}

/*--------------------------------------------------------------
# Our Team Section
--------------------------------------------------------------*/
.team .member {
    position: relative;
  }
  
  .team .member .member-img {
    margin: 0 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  
  @media (max-width: 1024px) {
    .team .member .member-img {
      margin: 0 60px;
    }
  }
  
  .team .member .member-img img {
    position: relative;
    z-index: 1;
  }
  
  .team .member .member-img .social {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding-bottom: 20px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }
  
  .team .member .member-img .social a {
    transition: 0.3s;
    color: #fff;
    font-size: 20px;
    margin: 0 8px;
  }
  
  .team .member .member-img .social a:hover {
    color: var(--color-primary);
  }
  
  .team .member .member-info {
    margin-top: 30px;
  }
  
  .team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 18px;
    color: var(--color-secondary);
  }
  
  .team .member .member-info span {
    font-style: italic;
    display: block;
    font-size: 15px;
    color: #838893;
    margin-bottom: 10px;
  }
  
  .team .member .member-info p {
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .team .member:hover .member-img .social {
    padding-bottom: 0;
    visibility: visible;
    opacity: 1;
  }
  


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}
@media (max-width: 992px) {
    .bg-switch{
        display: none;
    }
}

.testimonial-carousel .owl-item .testimonial-text {
    background: var(--light);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary);
    transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item .testimonial-item img {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item img {
    border-color: var(--primary) !important;
} 

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}



/* OUR VALUES */

.values .row span{
    font-size: 1.2rem;
}


/**** Trusted Partners*****/ 

.trusted-img {
    width: 100%;
    align-self: center;
}

.trusted-img img {
    width: 210px;
}

.trusted-img img:hover{
    scale: 1.09;
    transition: all .2s ease;
    box-shadow: 0 0 0 4px #106F45;
}
.trusted-img-resize img{
    width: 170px;
    height: 70px;
    margin: 1.3rem 1.2rem 1.3rem 1.2rem ;
    
}
.trusted-img-resize img:hover{
    scale: 1.09;
    transition: all .2s ease;
    outline: 4px solid #106F45;
    outline-offset: 15px;
}
.trusted-p {
    font-size: 2rem;
}

.about-trusted-img-resize img{
    width: 160px !important;
    height: 70px;
    margin: 1.3rem 1.4rem 1.3rem 1.2rem ;
}

/*--------------------------------------------------------------
# EXPERTICE SECTION
--------------------------------------------------------------*/
.expertise .card-item {
    border: 2px solid rgba(82, 86, 94, 0.2);
    background: #fff;
    /* position: relative; */
    border-radius: 0;
  }
  
  .expertise .card-item .card-body {
    padding: 30px 0;
   .card-header{
    clip-path: polygon(0% 0%, 84% 0, 100% 50%, 83% 100%, 0% 100%);
   }
  }
  
  .expertise .card-item .card-header{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
.border-b{
    border-bottom:5px solid #f6f7f3; 
    width:100px;
  }
  .expertise .card-item h4 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
    color: var(--color-secondary);
    /* border-bottom: 4px solid white; */
  }
  
  .expertise .card-item p {
    color: var(--color-secondary);
    margin: 0;
    padding-top: 2rem;
  }


/*--------------------------------------------------------------
#                       Journey
--------------------------------------------------------------*/
.journey .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.journey .nav .nav-link.active {
    background: var(--primary);
}

.journey .nav .nav-link.active h3 {
    color: #FFFFFF !important;
}
.journey .text-center p{
    font-size: 22px;
}


  /* ........................................................
                        CONTACT US FORM 
.............................................................*/

#contactForm input[type=text], #contactForm input[type=email]{
    border-radius: 15px;
    padding:2rem !important;
    color: #106F45 !important;
    font-weight: 700;
}

.row .col-12 textarea{
    color: #106F45 !important;
    font-weight: 700;
    border-radius: 15px;
}



/*** Footer ***/
.footer {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/NI/footer-bg.jpeg) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}

/* .footer-logo{
    width: 200px;
    height: 150px;
} */

.footer-logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100px;
}